<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Your Items Catalog</h1>
<% @item.each do |item| %>

<h3><%= item.name %></h3>
<%= sanitize(item.description) %>
<div class="price_line">
<span class="price"><%= number_to_currency(item.price) %></span>
<%= button_to 'Add to Cart', line_items_path(item_id: item) %>
</div>
</div>
<% end %>